@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root{
  --font-family:'Roboto', sans-serif;
  --bg-color: #0AA1DD;
  --primary-color: #E8F9FD;
}


body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 ;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 3.5em;
  margin-top: 20px;
}

p {
  font-size: 35px;
  color: #4b424a;
  margin-bottom: 20px;

}

.message {
  font-size: 4.5em;
  margin-top: 40px;
}

.box {
  border: solid 3px var(--primary-color);
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.btn-play {
  padding: 8px 15px;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top:10px;
  color: var(--bg-color);
}
.btn-play:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(64, 43, 187);
}